* {
    margin: 0;
    padding: 0;
}

container {
     background: silver;
     width: 1200px;
     margin: 0 auto;
     font-family: Arial;
    }
    
    header {
         background: black;
         width: 1200px;
         padding: 20px 10px;
         color: lawngreen;    
    }

    nav {
        background: lawngreen;
        width: 1220px;
        
    }
        nav ul{
            list-style: none;
        }
            nav ul li {
                float: left;
                width: 200px;
                padding: 10px 0px;
                text-align: center;
                font-weight: bold;
                border-bottom: 3px solid brown;
            }
            nav ul li:hover {
                background: yellow;
                color: indigo;
                border-bottom: 5px solid blue;
            }
    middle {
        background: red;
        width: 1220px;
    }
    
        left{
            background: skyblue;
            width: 1220px;
            height:900px;
            float: left;
        }

            .post {
                margin: 25px;
            }
            .title {
                 background: yellow;
                 color: indigo;
                 padding: 15px 10px;
                 font-size: 25px ;
                 font-weight: bolder;
             }
            .description {
                background: lightyellow;
                padding: 5px;                
            }


        
       
right{
            background: red;
            width: 1120px;
            height: 415px;
            float: none;
            padding: 10px;
            margin: 40px;
        }

            right h2 {
                 text-align: center;
            }
            

           /* #feedbox {
                
            }*/
                .feed_head {
                     text-align: center;
                     font-size: 25px;
                }
                input[type=text] {
                    width: 560px;
                    height: 30px;
                }
                input[type=submit] {
                    width: 100px;
                    padding: 10px 0px;
                    background: lawngreen;
                    color: indigo;
                    font-size: 20px;
                }

                input[type=submit]:hover {
                    background: yellow;
                    color: blue;
                }
    footer {
        background: yellow;
        width: 1220px;
        height: 50px;
        padding: 20px 0px;
        color: red;
        text-align: center;
    }    